<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Image <%= image.id %></title>
  <link rel="stylesheet" href="/styles/image.css">
</head>
<body>
  <div class="container">
    <div class="left-column">
      <img src="/images<%= image.filename %>" alt="<%= image.id %>" id="<%= image.id %>" class="gallery-item"/>
    </div>
    <div class="right-column">
      <div class="text-container">
        <h1 id="captions">Captions:</h1>
        <% captions.forEach(caption => { %>
          <p id="caption"><%= caption.username %>: <%= caption.caption %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="like-button" data-id="<%= caption.id %>">&#128061;</button>
            (<span id="like-count-<%= caption.id %>"><%= caption.like_count %></span>)
          </p>
        <% }) %>
      </div>
      <div class="form">
        <form id="form">
          <textarea id="textarea" name="newcaption" maxlength="130" placeholder="Add your caption..." required></textarea>
          <input type="hidden" name="image_id" value="<%= image.id %>">
          <button id="button" type="submit">add</button>
          <div id="error" class="error-message"></div>
        </form>
      </div>
    </div>
  </div>
  <script src="DOM.js"></script>
</body>
</html>